Repository falcosecurity/driverkit, pull requests merged in 2020-09, with the labels that each got.

#69 Fix discovery of kernel headers for ubuntu-aws-*.*
  pkg/driverbuilder/builder/ubuntu.go
Labels: approved, area/pkg, dco-signoff: yes, kind/bug, lgtm, size/XS

#71 docs(RELEASE.md): do not use an annotated tag
  RELEASE.md
Labels: approved, area/docs, dco-signoff: yes, kind/documentation, lgtm, size/XS

#72 update(pkg/driverbuilder): debian support for cloud-amd64 extraversion
  pkg/driverbuilder/builder/debian.go
Labels: approved, area/pkg, dco-signoff: yes, kind/feature, lgtm, size/S
