Repository falcosecurity/driverkit, pull requests merged in 2022-12, with the labels that each got.

#237 feat(debian-pve-build): compile proxmox kernel's driver
  pkg/driverbuilder/builder/debian.go
  pkg/driverbuilder/builder/templates/debian.sh
Labels: kind/feature, area/pkg, dco-signoff: yes, approved, lgtm, size/S

#238 feat(builder-image): config flag for custom base image
  Makefile
  cmd/root.go
  cmd/root_options.go
  cmd/testdata/templates/flags.txt
  docs/driverkit.md
  docs/driverkit_docker.md
  docs/driverkit_kubernetes-in-cluster.md
  docs/driverkit_kubernetes.md
  pkg/driverbuilder/builder/build.go
  pkg/driverbuilder/builder/builders.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L

#243 fix(pkg/kernelrelease): allow empty patch for kernelrelease strings.
  pkg/kernelrelease/kernelrelease.go
Labels: kind/bug, area/pkg, dco-signoff: yes, approved, lgtm, size/XS

#239 new(builder): add bottlerocket os support.
  pkg/driverbuilder/builder/bottlerocket.go
Labels: kind/feature, area/pkg, dco-signoff: yes, approved, lgtm, size/M
