Repository falcosecurity/driverkit, pull requests merged in 2022-10, with the labels that each got.

#218 update(go,ci): bumped golang to 1.18.
  .circleci/config.yml
  go.mod
  go.sum
Labels: kind/cleanup, area/build, dco-signoff: yes, approved, lgtm, size/XL

#219 fix: use cimg/go image instead of the old circleci/golang one for release job
  .circleci/config.yml
Labels: kind/bug, area/build, dco-signoff: yes, approved, lgtm, size/XS

#222 add check for @PROBE
  pkg/driverbuilder/templates.go
Labels: kind/bug, area/pkg, dco-signoff: yes, approved, lgtm, size/XS

#225 update(builder/minikube): implement the GCCVersionRequestor interface for the minikube builder
  pkg/driverbuilder/builder/minikube.go
Labels: kind/bug, area/pkg, dco-signoff: yes, approved, lgtm, size/M

#227 Forgot a `*` in the Ubuntu `headersPattern`
  pkg/driverbuilder/builder/ubuntu.go
Labels: kind/bug, area/pkg, dco-signoff: yes, approved, lgtm, size/XS

#228 chore(readme): add 2 beautiful badges
  README.md
Labels: kind/cleanup, dco-signoff: yes, approved, lgtm, size/XS

#230 Add Initial Fedora Support
  pkg/driverbuilder/builder/fedora.go
  pkg/driverbuilder/builder/templates/fedora.sh
Labels: kind/feature, area/pkg, dco-signoff: yes, approved, lgtm, size/L

#231 Draft: Adjust the `kernelVersionPattern` to match some weird Debian kernels
  pkg/kernelrelease/kernelrelease.go
  pkg/kernelrelease/kernelrelease_test.go
Labels: kind/bug, area/pkg, dco-signoff: yes, approved, lgtm, size/M
