Repository falcosecurity/driverkit, pull requests merged in 2022-01, with the labels that each got.

#115 driverkit: Move CentOS 8.4 to Vault
  pkg/driverbuilder/builder/centos.go
Labels: kind/bug, area/build, dco-signoff: yes, approved, lgtm, size/XS

#112 fix(build): add centos version 7.8.2003
  pkg/driverbuilder/builder/centos.go
Labels: kind/bug, area/build, dco-signoff: yes, approved, lgtm, size/XS

#117 new(build): add CentOS 7.9 and 8.5
  pkg/driverbuilder/builder/centos.go
Labels: kind/feature, area/build, dco-signoff: yes, approved, lgtm, size/XS

#111 fix(build): use llvm/clang 12 to build the probe on Linux Kernel 5.x on Debian
  build/builder.Dockerfile
  pkg/driverbuilder/builder/debian.go
Labels: kind/bug, area/build, dco-signoff: yes, approved, lgtm, size/S

#121 fix installation of goreleaser in CI image, the current installation …
  .circleci/config.yml
Labels: kind/bug, area/build, dco-signoff: yes, approved, lgtm, size/XS
