Repository falcosecurity/driverkit, pull requests merged in 2024-07, with the labels that each got.

#346 new(pkg,docker): added an amazonlinux2 gcc10 builder.
  docker/builders/builder-amazonlinux2-x86_64_gcc10.0.0.Dockerfile
  pkg/driverbuilder/builder/amazonlinux.go
Labels: kind/feature, area/build, area/pkg, dco-signoff: yes, approved, lgtm, size/M

#348 fix(ci): fix paths filters
  .github/workflows/ci.yml
Labels: dco-signoff: yes, approved, needs-kind, lgtm, size/XS

#347 chore(docker): bump docker packaget to v27.0.3+incompatible
  go.mod
  go.sum
  pkg/driverbuilder/docker.go
Labels: dco-signoff: yes, approved, needs-kind, lgtm, size/S

#349 update(gorelease): bump to v2.0
  .github/workflows/release.yml
  .goreleaser.yml
Labels: dco-signoff: yes, approved, needs-kind, lgtm, size/XS

#331 chore(pkg,docs): use a working mirror for archlinux arm64.
  docs/builder.md
  pkg/driverbuilder/builder/archlinux.go
Labels: kind/documentation, kind/cleanup, area/docs, area/pkg, dco-signoff: yes, approved, lgtm, size/M, lifecycle/stale

#350 fix(docker): fixed centos7 builder because of EoL.
  docker/builders/builder-centos-x86_64_gcc4.8.5.Dockerfile
Labels: kind/bug, area/build, dco-signoff: yes, approved, lgtm, size/S
